.notification {
    position: fixed;
    left:50%;
    margin-left:-25%;
}

@keyframes show {
    0% {
      top:  -150px;
    }
  
    15% {
      top: 100px;
    }

    85% {
        top: 100px;
    }

    100% {
        top: -150px;
    }
  }

  .top-notification {
    animation: show 3s
  }