.edit-news {
  margin: 70px;
}

.has-error {
  color: red;
}

.has-error input,
.has-error textarea {
  border-color: red;
}

label {
  color: #5b5b5b;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

textarea.form-control {
  height: 130px;
}

.form-name {
  color: #5b5b5b;
  text-align: center;
  font-weight: 600;
}
