.last-news {
  cursor: pointer;
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.last-news:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
