.news:hover {
  border: 1px solid #5b5b5b;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cards-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.news-list-cards {
  display: flex;
  margin-bottom: 20px;
  min-width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-img {
  width: 180px;
  margin: 0 20px 0 0;
  overflow: hidden;
}

.card-img-left {
  width: 180px;
}

.about-news {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
