.news-headlines {
  width: auto;
  height: 10rem;
  justify-content: center;
  color: white;
  padding-left: 2rem;
  margin: 30px 0;
  cursor: pointer;
}

.news-headlines.custom {
    text-align: end;
    padding-right: 2rem;
    background: linear-gradient(101.31deg, #C4C4C4 0%, #5B5B5B 100%);
}

.news-headlines.top {
    background: linear-gradient(101.31deg, #5B5B5B 0%, #C4C4C4 100%);
}

.news-headlines:hover {
    border: 1px solid #5B5B5B;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}