.news-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.search-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #bababa;
  margin-left: 15px;
}

.count {
  color: #5B5B5B;
}

.no-match {
  width: 100%;
}