.app-header {
  align-items: center;
  background: linear-gradient(90deg, #5B5B5B 0%, #5B5B5B 210px, #c4c4c4 210px, #c4c4c4 100%);
}


.app-header h1 {
  margin: 10px 0 10px 100px;
  flex-grow: 1;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  cursor: pointer;
}

.app-header a {
  margin: 4px 40px 4px 0;
  font-size: 1.2rem;
  border-radius: 50%;
  color: #5B5B5B;
}
