.no-content {
  text-align: center;
  margin-top: 2rem;
}

.article {
  color: #bababa;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.about {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
